*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    width: 1100px;
    background-color: #ff0;
}
header, footer{
    width: 100%;
    height: 150px;
    background-color:#f0f
}
footer{
    width: 100%;
    height: 200px;
    clear: both;
    margin-top: 20px;
    background-color:#0ff;
}
#carrosel{
    width: 100%;
    height: 400px;
    background-color:#0f1;
    margin-bottom: 20px;
}
.content{
    width: 1080px;
    border: 1px dashed #fff;
    margin-left: 20px;
}
.products{
    width: 248px;
    height: 290px;
    border: 1px solid black;
    float: left;
    margin: 0px 20px 20px 0px;
    background-color:#00a
}